<form action="https://docs.google.com/forms/d/1uj1wZI-X9ZyMs4Zoelw9QVS8ACezeu1q6fCIEyLNvHo/formResponse" method="POST" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page. \nAre you sure?&quot;);} catch (e) {return false;}"><ol role="list">
<div role="listitem">
<div dir="auto" style="margin:12px 0"><div style="margin-bottom:1.5em;vertical-align:middle;margin-left:0;margin-top:0;max-width:100%">
<label><div style="display:block;font-weight:bold;margin-top:.83em;margin-bottom:.83em">Socio
<label aria-label="(Required field)"></label>
<span aria-hidden="" style="color:#c43b1d">*</span></div>
<div dir="auto" style="display:block;margin:.1em 0 .25em 0;color:#666"></div></label>
<input type="text" name="entry.70882562" value="" dir="auto" aria-label="Socio  " aria-required="" title="">


</div></div></div> <div role="listitem">
<div dir="auto" style="margin:12px 0"><div style="margin-bottom:1.5em;vertical-align:middle;margin-left:0;margin-top:0;max-width:100%">
<label><div style="display:block;font-weight:bold;margin-top:.83em;margin-bottom:.83em">Motivo
<label aria-label="(Required field)"></label>
<span aria-hidden="" style="color:#c43b1d">*</span></div>
<div dir="auto" style="display:block;margin:.1em 0 .25em 0;color:#666"></div></label>
<select name="entry.625521756" aria-label="Motivo  " aria-required=""><option value=""></option>
<option value="Consumo desconocido">Consumo desconocido</option> <option value="Monto incorrecto">Monto incorrecto</option> <option value="Fecha incorrecta">Fecha incorrecta</option> <option value="Otro">Otro</option></select>
</div></div></div> <div role="listitem">
<div dir="auto" style="margin:12px 0"><div style="margin-bottom:1.5em;vertical-align:middle;margin-left:0;margin-top:0;max-width:100%">
<label><div style="display:block;font-weight:bold;margin-top:.83em;margin-bottom:.83em">Observaciones
<label aria-label="(Required field)"></label>
<span aria-hidden="" style="color:#c43b1d">*</span></div>
<div dir="auto" style="display:block;margin:.1em 0 .25em 0;color:#666"></div></label>
<textarea name="entry.457491866" rows="8" cols="0" dir="auto" aria-label="Observaciones  " aria-required="" style="width:70%"></textarea>


</div></div></div> <div role="listitem">
<div dir="auto" style="margin:12px 0"><div style="margin-bottom:1.5em;vertical-align:middle;margin-left:0;margin-top:0;max-width:100%">
<label><div style="display:block;font-weight:bold;margin-top:.83em;margin-bottom:.83em">email de contacto
</div>
<div dir="auto" style="display:block;margin:.1em 0 .25em 0;color:#666"></div></label>
<input type="text" name="entry.485680763" value="" dir="auto" aria-label="email de contacto  " title="">


</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;2495151433250957521&quot;]
">
<input type="hidden" name="pageHistory" value="0">

<input type="hidden" name="fvv" value="0">
<input type="hidden" name="usp" value="mail_form_submit">

<input type="hidden" name="fbzx" value="2495151433250957521">

<div style="margin:12px 0"><table><tbody><tr><td dir="ltr" style="margin-bottom:1.5em;vertical-align:middle;margin-left:0;margin-top:0;max-width:100%;display:inline-block">
<input type="submit" name="submit" value="Submit">
<div style="color:#666">Never submit passwords through Google Forms.</div></td>
</tr></tbody></table></div></ol></form>